@model WebApplication1.Models.Player

<h3>Bạn có chắc chắn muốn xóa Người Chơi này không?</h3>
<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.PlayerId)</dd>

        <dt class="col-sm-2">Tên</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Email)</dd>

        <dt class="col-sm-2">Điểm số</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Score)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PlayerId" />
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a asp-action="Index" class="btn btn-secondary">Hủy</a>
    </form>
</div>